@model Aplicacion_de_SCRAP.Models.Naed

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar?</h3>
<div>
    <h4>Naed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NNAED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NNAED)
        </dd>
        @ViewBag.msg
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
